mixin projects()
  .projects
    ul.projects__list
      li.projects__item
        a.projects__link(href="#")
          .projects__image
          h2.projects__item-title Название проекта
      li.projects__item
        a.projects__link(href="#")
          .projects__image
          h2.projects__item-title Более длинное название проекта
      li.projects__item
        a.projects__link(href="#")
          .projects__image
          h2.projects__item-title Название
      li.projects__item.projects__item--large.projects__item--large-left
        a.projects__link(href="#")
          .projects__image
          h2.projects__item-title.projects__item-title--large Одно из названий одного из проектов (чуть крупнее шрифт)
      li.projects__item
        a.projects__link(href="#")
          .projects__image
          h2.projects__item-title Название-2
      li.projects__item
        a.projects__link(href="#")
          .projects__image
          h2.projects__item-title Наименование проекта
      li.projects__item.projects__item--large.projects__item--large-right
        a.projects__link(href="#")
          .projects__image
          h2.projects__item-title.projects__item-title--large Короткое большое название
