mixin social()
  ul.social
    li.social__item
      a.social__link.social__link--tg(href="#", aria-label="Ссылка на Telegram")
        +icon("icon_tg", 48, 48).social__icon
    li.social__item
      a.social__link.social__link--vk(href="#", aria-label="Ссылка на vkontakte")
        +icon("icon_vk", 48, 48).social__icon
    li.social__item
      a.social__link.social__link--wa(href="#", aria-label="Ссылка на whatsapp")
        +icon("icon_wa", 48, 48).social__icon
    li.social__item
      a.social__link.social__link--yt(href="#", aria-label="Ссылка на yuotube")
        +icon("icon_yt", 48, 48).social__icon
