mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "О\u00a0компании"
      },
      {
        href: "#",
        text: "Проекты"
      },
      {
        href: "#",
        text: "Услуги"
      },
      {
        href: "#",
        text: "Контакты"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        span.header__logo
          +picture("content", "logo", "png", 153, 458, "Логотип сайта Бюро Никулина")
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +picture("content", "logo", "png", 153, 458, "Логотип сайта Бюро Никулина")
      nav.main-nav
        button.main-nav__toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon_burger", 24, 24)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
